.container {
  margin-top: 60px;
  width: 80%;
}

.btn {
  color: rgba(250, 38, 160, 1);
  border-radius: 5px;
  cursor: pointer;
  height: 35px;
  outline: none;
  padding: 4px;
  width: 50px;

  transition: all 0.5s;
}

.btn:hover {
  color: #9ede73;
  background-color: #222;
  border-radius: 50%;

  transition: all 0.5s;
}

.input {
  background-color: white !important;
  border-radius: 5px !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  height: 30px;
  letter-spacing: 2px !important;
  outline: none !important;
  width: 800px !important;
}

.title {
  color: rgba(250, 38, 160, 1);
  font-size: 30px !important;
  font-weight: bold !important;
  letter-spacing: 4px !important;
  text-shadow: 2px 2px 3px black;
}
